<section
	id="{{ constants.homeSectionLinksId.ABOUT }}"
	class="{{ constants.STYLE_PREFIX }}about-section"
>
	<div class="{{ constants.STYLE_PREFIX }}about-section-content">
		<img
			alt="profile_photo"
			class="{{ constants.STYLE_PREFIX }}profile-photo"
			src="../../../assets/images/wasit-shafi-frontal-face.png"
		/>
		<div class="{{ constants.STYLE_PREFIX }}about-details">
			<h3 class="{{ constants.STYLE_PREFIX }}hello-world">Hello World !!</h3>
			<h2 class="{{ constants.STYLE_PREFIX }}name-text">I am Wasit Shafi</h2>
			<p>
				Currently Working as a Full Stack SDE, I am more inclined towards
				back-end technologies & solving real life problems by developing
				efficient solution.
			</p>
			<p>
				<b class="{{ constants.STYLE_PREFIX }}trust-me-bold">Trust Me!!</b> I
				take 100% ownership (R&D/POC/Development/Testing/Deployment) of the task
				pick up.
			</p>
			<p>
				Want to know more...? Have a Look at my
				<a
					href="https://drive.google.com/file/d/1eOz6O41hRVIyxqi8sGNHxgQbtlunMi_N/view"
					title="Open Google Drive Link"
					target="_blank"
					>Resume (Gdrive)</a
				>
			</p>
		</div>
	</div>
</section>
