@use 'main.scss' as *;
@import './about-shared.component.scss';

.#{$var-style-prefix}about-section {
	background-color: var(--clr-primary-background);

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.#{$var-style-prefix}profile-photo {
			height: 128px;
			width: 128px;
			object-fit: contain;
			object-position: center;
			border-radius: 50%;
			margin-bottom: 16px;
		}

		.#{$var-style-prefix}about-details {
			max-width: fn-rem(680px);
			flex: 1;
			text-align: center;

			.#{$var-style-prefix}hello-world,
			.#{$var-style-prefix}name-text,
			p,
			p b {
				color: var(--clr-primary-font);
			}

			.#{$var-style-prefix}hello-world,
			.#{$var-style-prefix}name-text {
				font-family: pacifico, sans-serif;
				color: rgba($clr-black, 0.8);
			}
			.#{$var-style-prefix}hello-world {
				margin: 0;
			}

			.#{$var-style-prefix}name-text {
				margin: 0 0 5px 0;
			}

			p {
				margin-bottom: 8px;
			}
		}
	}
}
