{
	"extends": "stylelint-config-standard-scss",
	"rules": {
		"unit-allowed-list": ["%", "px", "vh", "vw"],
		"color-named": "never",
		"color-no-invalid-hex": true,
		"color-no-hex": [
			true,
			{
				"message": "Don't use hex colors like \"%s\" (HINT: Only hex colors are allowed & in short form if possible)"
			}
		]
	}
}
