@use 'main.scss' as *;

.navbar {
	.navbar-toggler {
	}

	.container-fluid {
		.collapse {
			.navbar-nav {
				margin: 0 auto;
				.nav-item {
					.nav-link {
						&:hover {
							text-decoration: underline;
							opacity: 0.7;
						}
					}
				}
			}
		}
	}
}
