<nav class="container-xl navbar sticky-top navbar-expand-lg">
	<div class="container-xl">
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar-toggler"
			aria-controls="navbar-toggler"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div
			class="collapse navbar-collapse"
			id="navbar-toggler"
		>
			<ul class="navbar-nav">
				<!-- About -->

				<li class="nav-item">
					<a
						class="nav-link"
						aria-current="page"
						href="#{{ constants.homeSectionLinksId.ABOUT }}"
						>About</a
					>
				</li>
				<!-- Experience -->

				<li class="nav-item">
					<a
						class="nav-link"
						aria-current="page"
						href="#{{ constants.homeSectionLinksId.WORK_EXPERIENCE }}"
						>Experience</a
					>
				</li>
				<!-- Skills -->

				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{ constants.homeSectionLinksId.SKILLS }}"
						>Skills</a
					>
				</li>
				<!-- Projects -->

				<li
					class="nav-item"
					*ngIf="appDataService.isDevEnv"
				>
					<a
						class="nav-link"
						href="#{{ constants.homeSectionLinksId.PERSONAL_PROJECTS }}"
						>Projects</a
					>
				</li>
				<!-- Education -->

				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{ constants.homeSectionLinksId.EDUCATION }}"
						>Education</a
					>
				</li>
				<!-- Achievements -->

				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{
							constants.homeSectionLinksId.ACHIEVEMENTS_AND_RESPONSIBILITIES
						}}"
						>Achievements</a
					>
				</li>
				<!-- Awards -->

				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{ constants.homeSectionLinksId.AWARDS_AND_CERTIFICATIONS }}"
						>Awards</a
					>
				</li>
				<!-- Coding & Social Profiles -->

				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{
							constants.homeSectionLinksId.CODING_AND_SOCIAL_PROFILES
						}}"
						>Coding &amp; Social Profiles</a
					>
				</li>
				<!-- Contact -->

				<li class="nav-item">
					<a
						class="nav-link"
						aria-current="page"
						href="#{{ constants.homeSectionLinksId.CONTACT }}"
						>Contact</a
					>
				</li>
			</ul>
		</div>
		<!-- app theme toggler button -->

		<button
			class=" {{ constants.STYLE_PREFIX }}app-theme-toggler-button"
			(click)="handleThemeModeChange()"
		>
			<img
				alt="img"
				[src]="
					'../../../../assets/images/' +
					(appDataService.getIsDarkThemeModeEnabled
						? 'sun-dark-icon'
						: 'moon-light-icon') +
					'.svg'
				"
			/>
		</button>
	</div>
</nav>
