@use 'main.scss' as *;

.navbar {
	background-color: whitesmoke;

	.navbar-toggler {
	}

	.container-fluid {
		.collapse {
			.navbar-nav {
				margin: 0 auto;
				.nav-item {
					.nav-link {
						&:hover {
							text-decoration: underline;
							opacity: 0.7;
							text-underline-offset: 3px;
						}

						&.active {
							text-decoration: underline;
							text-underline-offset: 3px;
						}
					}
				}
			}
		}
	}
}
