<nav class="navbar sticky-top navbar-expand-sm bg-body-tertiary">
	<div class="container-fluid">
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse"
			id="navbarSupportedContent"
		>
			<!-- TODO: add logic to handle active link -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="#{{ constants.homeSectionLinksId.WORK_EXPERIENCE }}"
						>Work Experience</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{ constants.homeSectionLinksId.SKILLS }}"
						>Skills</a
					>
				</li>

				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{ constants.homeSectionLinksId.PERSONAL_PROJECTS }}"
						>Personal Projects</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{ constants.homeSectionLinksId.EDUCATION }}"
						>Education</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{
							constants.homeSectionLinksId.ACHIEVEMENTS_AND_RESPONSIBILITIES
						}}"
						>Achievements</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{ constants.homeSectionLinksId.AWARDS_AND_CERTIFICATIONS }}"
						>Awards &amp; Certifications</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="#{{
							constants.homeSectionLinksId.CODING_AND_SOCIAL_PROFILES
						}}"
						>Coding &amp; Social Profiles</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
