@use 'main.scss' as *;
@import './work-experience-shared.component.scss';

.#{$style-prefix}work-experience-section {
	background-color: var(--clr-primary-background);

	&-content {
		.#{$style-prefix}section-title {
			@include mx-section-title;
		}

		.#{$style-prefix}work-experience-details {
			.#{$style-prefix}job-role-and-company-details {
				.#{$style-prefix}job-role-and-tenure,
				.#{$style-prefix}company-details {
					display: flex;
					justify-content: space-between;

					// .#{$style-prefix}job-role,
					// .#{$style-prefix}tenure,
					// .#{$style-prefix}company-name,
					// .#{$style-prefix}comany-location {
					// }
				}
			}
		}
	}
}
