<section
	id="{{ constants.homeSectionLinksId.WORK_EXPERIENCE }}"
	class="{{ constants.STYLE_PREFIX }}work-experience-section"
>
	<div class="{{ constants.STYLE_PREFIX }}work-experience-section-content">
		<h2 class="{{ constants.STYLE_PREFIX }}section-title">Work Experience</h2>
		<div
			*ngFor="let workExperienceData of workExperience; let i = index"
			class="{{ constants.STYLE_PREFIX }}work-experience-details"
		>
			<div class="{{ constants.STYLE_PREFIX }}job-role-and-company-details">
				<div class="{{ constants.STYLE_PREFIX }}job-role-and-tenure">
					<span class="{{ constants.STYLE_PREFIX }}job-role">{{
						workExperienceData.role
					}}</span>
					<span class="{{ constants.STYLE_PREFIX }}tenure">{{
						workExperienceData.isCurrentlyWorking
							? 'Present'
							: workExperienceData.startDate + '-' + workExperienceData.endDate
					}}</span>
				</div>

				<div class="{{ constants.STYLE_PREFIX }}company-details">
					<span class="{{ constants.STYLE_PREFIX }}company-name">{{
						workExperienceData.companyDetails.companyName
					}}</span>
					<span class="{{ constants.STYLE_PREFIX }}comany-location"
						>{{ workExperienceData.companyDetails.city }},
						{{ workExperienceData.companyDetails.country }}</span
					>
				</div>
			</div>
			<ul class="{{ constants.STYLE_PREFIX }}work-contributions">
				<li
					*ngFor="let contributionsData of workExperienceData.workContributions"
				>
					{{ contributionsData.description }}
				</li>
			</ul>
		</div>
	</div>
</section>
