@use './_colors.scss' as *;

// NOTE: prefix 'mx' to mixins names

@mixin mx-section-title() {
	text-align: center;
	color: var(--clr-section-title);
	font-family: pacifico, sans-serif;
}

// @mixin mx-custom-li-marker {
// 	// padding-left: 12px;

// 	// Refer below links to check the list of unicode available
// 	// https://symbl.cc/en/

// 	li::marker {
// 		// content: '⋄ ';
// 		// content: '⬧';
// 		// content: '⦿ ';
// 	}
// }
