@use 'main.scss' as *;
@import './header-shared.component.scss';

.#{$var-style-prefix}header-wrapper {
	background-color: var(--clr-primary-background);
	position: sticky;
	top: 0;

	// &-content {
	// }
}
