<!-- TODO: Remove once portfolio website alpha version is ready -->
<section class="{{ constants.STYLE_PREFIX }}temp-section">
	<p class="{{ constants.STYLE_PREFIX }}fallback-text">
		Thanks for your time & visiting here, portfolio website under development.
	</p>
	<span
		>For Any query, drop me a line at
		<a href="mailto:wasitshafi700@gmail.com">wasitshafi700@gmail.com</a></span
	>
</section>
<div class="{{ constants.STYLE_PREFIX }}app-wrapper">
	<app-header> </app-header>
	<main>
		<router-outlet></router-outlet>
	</main>
	<app-footer></app-footer>
</div>
