<div class="ws-home-wrapper">
	<app-work-experience></app-work-experience>

	<section id="{{ constants.homeSectionLinksId.SKILLS }}">
		Skills Section
	</section>

	<section id="{{ constants.homeSectionLinksId.PERSONAL_PROJECTS }}">
		Personal Projects Section
	</section>

	<section id="{{ constants.homeSectionLinksId.EDUCATION }}">
		Education Section
	</section>

	<section
		id="{{ constants.homeSectionLinksId.ACHIEVEMENTS_AND_RESPONSIBILITIES }}"
	>
		Achievements & Responsibilities Section
	</section>

	<section id="{{ constants.homeSectionLinksId.AWARDS_AND_CERTIFICATIONS }}">
		Awards And Certification Section
	</section>

	<section id="{{ constants.homeSectionLinksId.CODING_AND_SOCIAL_PROFILES }}">
		Coding And Social Profiles Section
	</section>
</div>
