@import '../../../style/main.scss';

.ws-home-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// height: 100vh;
	// background-color: $clr-cyan;

	.ws-fallback-text {
		font: 18px;
		font-weight: 600;
	}
	section {
		border: 1px solid #808080;
		background-color: whitesmoke;
		width: 100%;
		min-height: 300px;
		border-radius: 4px;
	}
}
