@use 'main.scss' as *;
@import './home-shared.component.scss';

// @import 'node_modules/bootstrap/scss/_mixins.scss';
// @import 'node_modules/bootstrap/scss/_functions.scss';
// @import 'node_modules/bootstrap/scss/_variables.scss';

// NOTE: not using BS5 mixins for media queries, due to importing 3 partials in each component file if we have to use mixin (till now didn't find any way to import in globally).
// @include media-breakpoint-up(sm) {
// 	.#{$var-style-prefix}home-wrapper {
// 		padding: 16px;
// 		.#{$var-style-prefix}home-content {
// 		}
// 	}
// }

@media (min-width: fn-get-bs-breakpoints('sm-min')) {
	.#{$var-style-prefix}home-wrapper {
		padding-left: 16px;
		padding-right: 16px;
		/* stylelint-disable */
		&-content {
		}
	}
}

@media (min-width: 1600px) {
	.#{$var-style-prefix}back-to-top-wrapper {
		left: 12w;
	}
}
