<div class="fluid {{ constants.wsw }}home-wrapper">
	<div class="container-xl {{ constants.wsw }}home-content">
		<section id="{{ constants.homeSectionLinksId.WORK_EXPERIENCE }}">
			<app-work-experience></app-work-experience>
		</section>

		<section id="{{ constants.homeSectionLinksId.SKILLS }}">
			<app-skills></app-skills>
		</section>

		<section id="{{ constants.homeSectionLinksId.PERSONAL_PROJECTS }}">
			<app-personal-projects></app-personal-projects>
		</section>

		<section id="{{ constants.homeSectionLinksId.EDUCATION }}">
			<app-education></app-education>
		</section>

		<section
			id="{{ constants.homeSectionLinksId.ACHIEVEMENTS_AND_RESPONSIBILITIES }}"
		>
			<app-achievements-and-responsibilities></app-achievements-and-responsibilities>
		</section>

		<section id="{{ constants.homeSectionLinksId.AWARDS_AND_CERTIFICATIONS }}">
			<app-awards-and-certifications></app-awards-and-certifications>
		</section>

		<section id="{{ constants.homeSectionLinksId.CODING_AND_SOCIAL_PROFILES }}">
			<app-coding-and-social-profiles></app-coding-and-social-profiles>
		</section>
	</div>
</div>
