@use 'main.scss' as *;

.#{$style-prefix}home-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 8px;

	.#{$style-prefix}home-content {
		padding: 0;
		section {
			border: 1px solid #808080;
			background-color: whitesmoke;
			width: 100%;
			min-height: 300px;
			border-radius: 4px;
			margin-bottom: 20px;
		}
	}
}
