<div class="ws-home-wrapper">
	<section id="{{ constants.homeSectionLinksId.WORK_EXPERIENCE }}">
		<div *ngFor="let workExperience of portfolioData.workExperience">
			<span>{{ workExperience.role }}</span>
			<div *ngFor="let contributions of workExperience.workContributions">
				<div>* {{ contributions }}</div>
			</div>
		</div>
	</section>
	<section id="{{ constants.homeSectionLinksId.SKILLS }}">
		Skills Section
	</section>
	<section id="{{ constants.homeSectionLinksId.PERSONAL_PROJECTS }}">
		Personal Projects Section
	</section>
	<section id="{{ constants.homeSectionLinksId.EDUCATION }}">
		Education Section
	</section>
	<section id="{{ constants.homeSectionLinksId.ACHIEVEMENTS }}">
		Achievements Section
	</section>
	<section id="{{ constants.homeSectionLinksId.AWARDS_AND_CERTIFICATIONS }}">
		Awards And Certification Section
	</section>
	<section id="{{ constants.homeSectionLinksId.CODING_AND_SOCIAL_PROFILES }}">
		Coding And Social Profiles Section
	</section>
</div>
