@use 'main.scss' as *;

.#{$style-prefix}home-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 8px;
	background-color: var(--clr-primary-background);
	color: var(--clr-primary-font);

	.#{$style-prefix}home-content {
		padding: 0;

		section {
			border: 1px solid $clr-wood-smoke;
			background-color: $clr-soap-stone;
			color: $clr-wood-smoke;
			width: 100%;
			min-height: 300px;
			border-radius: 4px;
			margin-bottom: 20px;
		}
	}
}
