//  source: https://fonts.google.com/specimen/Comfortaa

@font-face {
	font-family: comfortaa;
	src: url('../../assets/fonts/comfortaa/comfortaa-light.ttf')
		format('truetype');
	font-style: normal;
	font-weight: 300;
}

//  default comfortaa regular
@font-face {
	font-family: comfortaa;
	src: url('../../assets/fonts/comfortaa/comfortaa-regular.ttf')
		format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: comfortaa;
	src: url('../../assets/fonts/comfortaa/comfortaa-medium.ttf')
		format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: comfortaa;
	src: url('../../assets/fonts/comfortaa/comfortaa-semi-bold.ttf')
		format('truetype');
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: comfortaa;
	src: url('../../assets/fonts/comfortaa/comfortaa-bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
