@use 'main.scss' as *;
@import './footer-common.component.scss';

.#{$style-prefix}footer-wrapper {
	&-content {
		text-align: center;
		margin: 15px 0;
		background-color: var(--clr-primary-background);
		color: var(--clr-primary-font);
	}
}
