<section
	id="{{ constants.homeSectionLinksId.PERSONAL_PROJECTS }}"
	class="{{ constants.STYLE_PREFIX }}personal-projects-section"
>
	<div class="{{ constants.STYLE_PREFIX }}personal-projects-section-content">
		<h2 class="{{ constants.STYLE_PREFIX }}section-title">Personal Projects</h2>
		<div
			*ngFor="let personalProjectsData of personalProjects"
			class="{{ constants.STYLE_PREFIX }}"
		>
			<div
				class="{{
					constants.STYLE_PREFIX
				}}project-title-and-external-links-wrapper"
			>
				<span class="{{ constants.STYLE_PREFIX }}project-title">
					{{ personalProjectsData.projectTitle }}
				</span>
				<div class="{{ constants.STYLE_PREFIX }}external-links-wrapper">
					<a
						href="https://github.com/wasitshafi"
						class="{{ constants.STYLE_PREFIX }}view-deployment"
						target="_blank"
						>View Deployment</a
					>
					<a
						href="https://github.com/wasitshafi"
						class="{{ constants.STYLE_PREFIX }}source-code"
						target="_blank"
						>Source Code</a
					>
				</div>
			</div>
			<ul class="{{ constants.STYLE_PREFIX }}personal-project">
				<li
					class="{{ constants.STYLE_PREFIX }}contribution-details"
					*ngFor="
						let projectFeatureDate of personalProjectsData.projectFeatures
					"
				>
					{{ projectFeatureDate.description }}
				</li>
			</ul>
		</div>
	</div>
</section>
