<section
	id="{{ constants.homeSectionLinksId.ACHIEVEMENTS_AND_RESPONSIBILITIES }}"
	class="{{ constants.STYLE_PREFIX }}achievements-and-responsibilities-section"
>
	<div
		class="{{
			constants.STYLE_PREFIX
		}}achievements-and-responsibilities-section-content"
	>
		<h2 class="{{ constants.STYLE_PREFIX }}section-title">
			Achievements & Responsibilities
		</h2>
		<ul
			class="{{
				constants.STYLE_PREFIX
			}}achievements-and-responsibilities-details-wrapper"
		>
			<li
				*ngFor="
					let achievementsAndResponsibilitiesData of achievementsAndResponsibilities
				"
				class="{{
					constants.STYLE_PREFIX
				}}achievements-and-responsibilities-details"
				[innerHTML]="achievementsAndResponsibilitiesData.description"
			></li>
		</ul>
	</div>
</section>
