@use 'main.scss' as *;

html {
	scroll-behavior: smooth;
	font-size: $fs-html;
}

// reset some css properties across application
* {
	font-family: comfortaa, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	color: $clr-black;
	font-size: fn-rem(16px);
	font-weight: 400;
}

a {
	text-underline-offset: $var-default-text-underline-offset;
}

::selection {
	// TODO: review background color for selection later
	background-color: $clr-downy;
}

// TODO: check how can we define these variables from individual components styles files
// Refer why used interpolation to access scss variables : https://github.com/sass/libsass/issues/2621
// TODO: review root color names, they should not target any specific element like section-title, primary background etc. (should be generic like name of palette in partial files )
:root {
	// colors
	--clr-app-theme-toggler-background: #{$clr-dark-jungle-green};
	--clr-border: #{$clr-black-30};
	--clr-desert-soil: #{$clr-sand-tan-shadow};
	--clr-primary-background: #{$clr-soap-stone};
	--clr-primary-font: #{$clr-wood-smoke};
	--clr-section-title: #{$clr-rose-bud-cherry};
	--img-navbar-toggler: url('./assets/images/navbar-toggler-dark-icon.svg');
}

body.#{$var-style-prefix}dark-theme {
	// colors
	--clr-app-theme-toggler-background: #{$clr-soap-stone};
	--clr-border: #{$clr-white-30};
	--clr-desert-soil: #{$clr-sand-tan};
	--clr-primary-background: #{$clr-dark-jungle-green};
	--clr-primary-font: #{$clr-soap-stone};
	--clr-section-title: #{$clr-rose-bud-cherry};

	// images
	--img-navbar-toggler: url('./assets/images/navbar-toggler-light-icon.svg');
}

body {
	/* stylelint-disable -- added !important to override BS5 style from _reboot.scss partial file */
	background-color: var(--clr-primary-background) !important;
}

// TODO: remove it later
section {
	// border: 1px solid $clr-wood-smoke;
	background-color: var(--clr-primary-background);
	color: var(--clr-primary-font);
	width: 100%;
	border-radius: 4px;
	margin-bottom: 20px;
}
