@use 'main.scss' as *;

@font-face {
	font-family: alegreya;
	src: url('assets/fonts/alegreya-regular.ttf');
}

html {
	scroll-behavior: smooth;
	font-size: $fs-html;
}

// reset some css properties across application
* {
	font-family: 'alegreya', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	color: $clr-black;
	font-size: fn-rem(16px);
	font-weight: 400;
}

// TODO: check how can we define these variables from individual components styles files
// Refer why used interpolation to access scss variables : https://github.com/sass/libsass/issues/2621
:root {
	// colors
	--clr-primary-background: #{$clr-soap-stone};
	--clr-primary-font: #{$clr-wood-smoke};

	// images
	--img-navbar-toggler: url('./assets/images/navbar-toggler-dark-icon.svg');
}

body.#{$style-prefix}dark-theme {
	// colors
	--clr-primary-background: #{$clr-wood-smoke};
	--clr-primary-font: #{$clr-soap-stone};

	// images
	--img-navbar-toggler: url('./assets/images/navbar-toggler-light-icon.svg');
}
