@import '../../theme/main.scss';

.ws-home-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.ws-fallback-text {
		font: 18px;
		font-weight: 600;
	}
}
